<VirtualHost *:80>
    ServerName {{ item.host }}
	ProxyPass / http:{{ item.ProxyPass }}
	ProxyPassReverse / http:{{ item.ProxyPass }}

    ErrorLog ${APACHE_LOG_DIR}/{{ item.host }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.host }}_access.log combined
</VirtualHost>

{# Set up SSL VirtualHosts #}
{% if item.ssl | default(true) %}
<VirtualHost *:443>
    ServerName {{ item.host }}
	ProxyPass / https:{{ item.ProxyPass }}
	ProxyPassReverse / https:{{ item.ProxyPass }}

    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/{{ item.host }}.crt
    SSLCertificateKeyFile /etc/apache2/ssl/{{ item.host }}.key

    ErrorLog ${APACHE_LOG_DIR}/{{ item.host }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.host }}_access.log combined
</VirtualHost>
{% endif %}
