{# Set up project folder #}
{% if item.item.directory is defined | default(false) %}
    {% set DocumentRoot = item.item.directory %}
{% elif item.item.frameworkVersion is defined and item.item.frameworkVersion == 3 | default(false) %}
    {% set DocumentRoot = "/var/www/" ~ item.item.projectFolder ~ "/web" %}
{% else %}
    {% set DocumentRoot = "/var/www/" ~ item.item.projectFolder ~ "/public" %}
{% endif %}

{% if item.item.frameworkVersion is defined and item.item.frameworkVersion in [3,4,5,6] | default(false) %}

{# Set up VirtualHosts #}
<VirtualHost *:80>
    ServerName {{ item.item.host }}

    SetEnv SYMFONY_ENV dev

    DocumentRoot {{ DocumentRoot }}
    <Directory {{ DocumentRoot }}>
        AllowOverride None
        Require all granted
        Allow from All

        <IfModule mod_rewrite.c>
            Options -MultiViews
            RewriteEngine On
            RewriteCond %{REQUEST_FILENAME} !-f
            {% if item.item.frameworkVersion in [3] | default(false) %}
            RewriteRule ^(.*)$ app.php [QSA,L]
            {% else %}
            RewriteRule ^(.*)$ index.php [QSA,L]
            {% endif %}

            RewriteEngine On
            RewriteCond %{HTTP:Authorization} ^(.*)
            RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
        </IfModule>
    </Directory>

    <Directory {{ item.item.projectFolder }}/>
        Options FollowSymlinks
    </Directory>

    <Directory {{ DocumentRoot }}/bundles>
        <IfModule mod_rewrite.c>
            RewriteEngine Off
        </IfModule>
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/{{ item.item.host }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.item.host }}_access.log combined
</VirtualHost>

{# Set up SSL VirtualHosts #}
{% if item.item.ssl | default(true) %}
<IfModule mod_ssl.c>
<VirtualHost *:443>
    ServerName {{ item.item.host }}

    SetEnv SYMFONY_ENV dev

    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/{{ item.item.host }}.crt
    SSLCertificateKeyFile /etc/apache2/ssl/{{ item.item.host }}.key

    {% if item.item.frameworkVersion is defined and item.item.frameworkVersion in [3,4,5,6] | default(false) %}
    DocumentRoot {{ DocumentRoot }}
    <Directory {{ DocumentRoot }}>
        AllowOverride None
        Require all granted
        Allow from All

        <IfModule mod_rewrite.c>
            Options -MultiViews
            RewriteEngine On
            RewriteCond %{REQUEST_FILENAME} !-f
            {% if item.item.frameworkVersion in [3] | default(false) %}
            RewriteRule ^(.*)$ app.php [QSA,L]
            {% else %}
            RewriteRule ^(.*)$ index.php [QSA,L]
            {% endif %}

            RewriteEngine On
            RewriteCond %{HTTP:Authorization} ^(.*)
            RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
        </IfModule>
    </Directory>

    <Directory {{ item.item.projectFolder }}/>
        Options FollowSymlinks
    </Directory>

    <Directory {{ DocumentRoot }}/bundles>
        <IfModule mod_rewrite.c>
            RewriteEngine Off
        </IfModule>
    </Directory>
    {% else %}
    DocumentRoot {{ DocumentRoot }}
    <Directory {{ DocumentRoot }}>
        AllowOverride None
        Require all granted
        Allow from All

        DirectoryIndex /index.php
        FallbackResource /index.php
    </Directory>
    {% endif %}

    ErrorLog ${APACHE_LOG_DIR}/{{ item.item.host }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.item.host }}_access.log combined
</VirtualHost>
</IfModule>

{% endif %}
{# end if item.item.ssl #}

{% endif %}
{# end if project is Symfony #}
