[XDebug]
;zend_extension=xdebug.so

; # Xdebug v 2
;xdebug.remote_enable = 1
;xdebug.remote_autostart = 1
;xdebug.remote_host = 192.168.33.1
;xdebug.remote_port = 9000
;xdebug.remote_handler=dbgp
;xdebug.idekey = PHPSTORM

; # Xdebug v3
xdebug.mode = debug
xdebug.start_with_request = yes
xdebug.client_host = 192.168.33.1
xdebug.client_port = 9003
xdebug.remote_handler=dbgp
xdebug.idekey = PHPSTORM
